# example.env - sample configuration file for rbot.py and rbot-streamlit.py
# Rename this file to .env and replace sample values with your actual data.

# Remote Hosted Large Language Model (LLM) API keys
# These keys are used to authenticate with the respective APIs.

# OpenAI API Key
# Please replace <Your-OpenAI-API-Key> with your actual OpenAI API Key.
OPENAI_API_KEY="<Your-OpenAI-API-Key>"

# Anthropic API Key
# Please replace <Your-Anthropic-API-Key> with your actual Anthropic API Key.
ANTHROPIC_API_KEY="<Your-Anthropic-API-Key>"


# Default files and folders for curated datasets
# List here the full paths to your curated dataset folders or files, one per line.
# Curated datasets can be in individual files or folders.
# rbot.py and rbot-streamlit.py will use these curated datasets by default.
# Curated datasets provide context to the chatbot, improving its responses.
# If you specify the --nodecorator command line argument, these curated datasets will be ignored.

CURATED_DATASETS="
/full/path/to/your/curated-dataset-file-1.md
/full/path/to/your/curated-dataset-file-2.md
/full/path/to/your/curated-dataset-folder-1/
/full/path/to/your/curated-dataset-folder-2/
/full/path/to/your/curated-dataset-folder-3/
"
