python-dotenv
pyyaml
streamlit
watchdog
appdirs
pathlib
openai
anthropic
langchain
litellm
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
google-generativeai
tiktoken
